#coin-balance {
    font-family: 'Orbitron', sans-serif;
    color: #00e5ff;
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
}

.stat-header {
    background: rgba(0, 229, 255, 0.05);
    border: 1px solid rgba(0, 229, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
}

/* Animación de pulso para el balance */
@keyframes pulse {
    0% { opacity: 0.8; }
    50% { opacity: 1; }
    100% { opacity: 0.8; }
}
